{%- assign field_product_bg_color = product.metafields.my_fields.product_background_color -%}
{%- assign product_price = product.price | money -%}

{%- if product.has_only_default_variant -%}
  {%- assign unit_price = product.variants.first.unit_price -%}
  {%- assign unit_reference = product.variants.first.unit_price_measurement.reference_unit -%}
  {%- assign unit_reference_value = product.variants.first.unit_price_measurement.reference_value -%}
{%- else -%}
  {%- assign unit_price = product.unit_price -%}
  {%- assign unit_reference = product.unit_price_measurement.reference_unit -%}
  {%- assign unit_reference_value = product.unit_price_measurement.reference_value -%}
{%- endif -%}

{%- assign short_title = product.metafields.custom.short_title -%}
{%- assign quantity_content = product.metafields.custom.quantity_content -%}
{%- assign weight_content = product.metafields.custom.weight_content -%}
{%- assign unit_name = product.metafields.custom.unit_name -%}
{%- assign custom_card_badge = product.metafields.custom.custom_card_badge.value -%}

{%- assign product_bg_color = '' -%}
  {%- if field_product_bg_color == 'Berry' -%}
    {%- assign product_bg_color = 'senary' -%}
  {%- elsif field_product_bg_color == 'Teal' -%}
    {%- assign product_bg_color = 'quinary' -%}
{%- elsif field_product_bg_color == 'Green' -%}
  {%- assign product_bg_color = 'tertiary' -%}
{%- elsif field_product_bg_color == 'Blue' -%}
  {%- assign product_bg_color = 'secondary' -%}
{%- elsif field_product_bg_color == 'Purple' -%}
  {%- assign product_bg_color = 'primary' -%}
{%- elsif field_product_bg_color contains 'Red' -%}
  {%- assign product_bg_color = 'quaternary' -%}
{%- endif -%}

<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
	{% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
	{% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
	{%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

	{% unless product.featured_image == blank %}
		{% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
	{% endunless %}
  <div class="custom_data_wrapping">
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      {%- assign cover_image = product.featured_image -%}
      {%- if product.metafields.custom.alternate_product_card_image != blank -%}
        {%- assign cover_image = product.metafields.custom.alternate_product_card_image -%}
      {%- endif -%}

      <div style="padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
        <a href="{{ product.url }}">
          <img id="{{ img_id }}"
            class="grid-view-item__image lazyload hover_image_hide"
            src="{{ cover_image | img_url: 'master' }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ product.featured_image.aspect_ratio }}"
            data-sizes="auto"
            alt=""
          >
          {% for image in product.images %}
            {% if forloop.index == 3 %}
              <img style="display:none;" class="hover_image_show" data-src="{{ image | img_url: 'master' }}" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}" />
            {% endif %}
          {% endfor %}
        </a>
      </div>
    </div>

    <div class="product_content_wrapping">
      <a href="{{ product.url }}" class="hidden-phone">
        <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">
          {%- if short_title != blank and unit_name != blank -%}
            {{ short_title }} {{ unit_name }}
          {%- else -%}
            {{ product.title }}
          {%- endif -%}
        </div>
      </a>
      <a href="{{ product.url }}" class="hidden-desktop">
        <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">
          {%- if short_title != blank -%}
            {{ short_title }}
          {%- else -%}
            {{ product.title }}
          {%- endif -%}
        </div>
      </a>
      <div class="products_listing__information">
        <div class="products_listing__information-wrapper">
          <div class="products_listing__information-labels">
            {%- if custom_card_badge -%}
              <div class="products_listing__label products_listing__label--custom" style="background-color:{{ custom_card_badge.background_color }};color:{{ custom_card_badge.text_color }};">
                {%- if custom_card_badge.emoji -%}
                  <style>
                    .products_listing ul.grid li.grid__item:hover .products_listing__label--custom {
                      border: 1px solid {{ custom_card_badge.text_color }};
                    }
                  </style>
                  <span class="products_listing__label--emoji">
                    {{ custom_card_badge.emoji }}
                  </span>
                {%- endif -%}

                <span class="hidden-phone">{{ custom_card_badge.text }}</span>
                <span class="hidden-desktop">
                  {%- if custom_card_badge.mobile_text != blank -%}
                    {{ custom_card_badge.mobile_text }}
                  {%- else -%}
                    {{ custom_card_badge.text }}
                  {%- endif -%}
                </span>
              </div>
            {%- endif -%}
            <div class="products_listing__label">
              {% render 'icon-vegan' %}
              {{ 'collections.product_card.vegan_badge' | t }}
            </div>
            <div class="products_listing__label">
              {% render 'icon-bio' %}
              {{ 'collections.product_card.bio_badge' | t }}
            </div>
          </div>
          {% if quantity_content != blank and weight_content != blank and unit_name != blank %}
            <div class="products_listing__label">
              <p>{{ quantity_content }} x {{ weight_content.value | split: ' ' }} {{ unit_name }} {% if unit_price %}| {{ unit_price | money }} / {{ unit_reference_value }}{{ unit_reference }}{% endif %}</p>
            </div>
          {% endif %}
        </div>
    </div>

    <atc-button class="product_content-buttons">

      {%- form 'product', product,
        class: '',
        data-product-form: '',
        data-product-form-color: product_bg_color,
        data-product-handle: product.handle,
        data-enable-history-state: 'true',
        data-productid: product.id
      -%}
        <select
          name="id"
          class="no-js visually-hidden"
          data-productid="{{- product.id -}}"
          data-original-product-select
        >
          {%- for variant in product.variants -%}
            <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}"
            >
              {{ variant.title }}
            </option>
          {%- endfor -%}
        </select>

        <label class="quantity-element__label">
          <input
            class="quantity-element__input"
            type="hidden"
            id="Quantity"
            name="quantity"
            value="1"
            min="1"
            max="99"
            maxlength="2"
            data-quantity="input"
          />
        </label>

        <button
          class="button product-form__button"
          type="submit"
          name="add"
          data-submit-button
        >
          <span
            class="product-form__button-text product-form__button-text--add-to-card"
            data-submit-button-text
          >
            {%- if product.variants.first.available == true -%}
              <span class="product-form__button-price" style="margin-right:5px;">{{ product_price }}</span> {% if product.metafields.custom.preorder_date != blank %}{{ "collections.product_card.preorder" | t }}{% else %}{{ "collections.product_card.add_to_cart" | t }}{% endif %}
            {%- else -%}
              {{ "collections.product_card.sold_out" | t }}
            {%- endif -%}
          </span>
        </button>
      {%- endform -%}
    </atc-button>
    </div>
  </div>
</div>
