<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != blank -%}
      --section-background-color: {{ section.settings.background_color }};
    {%- endif -%}
    {%- if section.settings.accent_color != 'rgba(0,0,0,0)' and section.settings.accent_color != blank -%}
      --section-accent-color: {{ section.settings.accent_color }};
    {%- endif -%}
    {%- if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != blank -%}
      --section-hover-color: {{ section.settings.hover_color }};
    {%- endif -%}
  }
</style>

<div class="products_listing collection-template triangular-balance" data-section-id="{{ section.id }}">
  <div class="page-width" >

    {% case section.settings.grid %}
      {% when 2 %}
        {%- assign max_height = 530 -%}
      {% when 3 %}
        {%- assign max_height = 345 -%}
      {% when 4 %}
        {%- assign max_height = 250 -%}
      {% when 5 %}
        {%- assign max_height = 195 -%}
    {% endcase %}

    {%- assign article_limit = section.settings.items_per_page -%}

    <ul class="grid grid--uniform grid--view-items">
      {% for article in blog.articles limit: article_limit %}
        
        <li class="AAA grid__item grid__item--{{section.id}}">
          {% render 'article-card-grid', max_height: max_height, article: article, index: forloop.index %}
        </li>
      {% endfor %}
    </ul>
  </div>
    <div class="base-triangular-line">
    {%- render 'icon-triangular-line' -%}
  </div>
</div>

{% schema %}
{
  "name": "Blog articles",
  "class": "index-section",
  "settings": [
    {
      "type": "range",
      "id": "items_per_page",
      "label": "Items per page",
      "min": 4,
      "max": 48,
      "step": 4,
      "default": 48
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#2ac2bd"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent Color",
      "default": "#f3587f"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Hover Color",
      "default": "#dbaaeb"
    }
  ],
  "presets": [
    {
      "name": "Blog articles",
    }
  ]
}
{% endschema %}
