<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != blank -%}
      --section-background-color: {{ section.settings.background_color }};
    {%- endif -%}
    {%- if section.settings.accent_color != 'rgba(0,0,0,0)' and section.settings.accent_color != blank -%}
      --section-accent-color: {{ section.settings.accent_color }};
    {%- endif -%}
    {%- if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != blank -%}
      --section-hover-color: {{ section.settings.hover_color }};
    {%- endif -%}
  }
</style>

{% assign bundle_config = product.metafields.custom.bundle_config.value %}

<section
  class="bundle-builder"
  data-section-id="{{- section.id -}}"
  data-section-type="bundle-builder"
>
  <div class="content-wrapper">
    <div class="container container--lg">
      <bundle-builder class="bundle-builder__inner" data-bundle-name="{{ bundle_config.name.value }}">
        <div class="bundle-builder__content">
          <div class="bundle-builder__steps">
            <div class="bundle-builder__step">
              <div class="bundle-builder__step-header">
                <h3 class="h3">Step 1: Box Größe wählen</h3>
              </div>
              <div class="bundle-builder__box-inputs">
                {% for size in bundle_config.size.value %}
                  <div class="input-radio">
                    <input type="radio" name="box-size" id="box-{{ size }}" value="{{ size }}" {% if forloop.first %}checked{% endif %}>
                    <label for="box-{{ size }}">{{ size }}er Box</label>
                  </div>
                {% endfor %}
                <modal-popover class="modal-popover modal-popover--large" id="Alert">
                  <div class="popover__overlay"></div>
                  <div class="popover__content">
                    <button class="popover__close-button">
                      {%- render 'icon-close' -%}
                    </button>
                    <div class="popover__content-inner">
                      <h3>Durch das wechseln der Box Größe wird der Warenkorb geleert.</h3>
                      <p>Möchtest du die Box Größe wirklich wechseln?</p>
                      <div class="button-group">
                        <button class="button" data-toggle="Alert">Zurück</button>
                        <button class="button" data-toggle="Alert" data-action="empty-cart">Größe Wechseln</button>
                      </div>
                    </div>
                  </div>
                </modal-popover>
              </div>
            </div>
            <div class="bundle-builder__step">
              <div class="bundle-builder__step-header">
                <h3 class="h3">Step 2: Sorten wählen</h3>
                <div class="bundle-builder__filters">
                  <span class="h3 filter-title">Filter:</span>
                  <div class="filter-pills">
                    {% for product_pool in bundle_config.product_pools.value %}
                      <div class="filter-pill">
                        <input type="checkbox" id="filter-{{ product_pool.name }}" name="bundle-filter" value="{{ product_pool.name }}">
                        <label for="filter-{{ product_pool.name }}">{{ product_pool.name }}</label>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="bundle-builder__products">
                {% for product_pool in bundle_config.product_pools.value %}
                  <div class="bundle-builder__product-pool" data-filter="{{ product_pool.name }}">
                    <h3>{{ product_pool.name }}</h3>
                    <div class="bundle-builder__product-pool-products product-list">
                      {% for variant in product_pool.variants.value %}
                        {% unless variant.available %}
                          {% continue %}
                        {% endunless %}
                        <div class="bundle-builder__product">
                          <div class="aspect-ratio aspect-ratio--square">
                            {{ variant.product.featured_image | image_url: width: 400 | image_tag: widths: '200,400', sizes: '(max-width: 768px) 400px, 200px' }}
                          </div>
                          <button class="cart-upsell__button button">+</button>
                          <template>
                            <div class="bundle-builder__item" data-variant-id="{{ variant.id }}" data-price="{{ variant.price }}">
                              <div class="aspect-ratio aspect-ratio--square">
                                {{ variant.product.featured_image | image_url: width: 240 | image_tag: widths: '120,240', sizes: '(max-width: 768px) 60px, 80px' }}
                              </div>

                              <quantity-selector class="product-form__quantity-wrapper">
                                <div
                                  class="quantity-element"
                                  data-quantity="wrapper"
                                >
                                  <button
                                    type="button"
                                    class="quantity-element__button js-quantity-button"
                                    data-quantity="decrement"
                                  >
                                    {%- render 'icon-quantity-minus' -%}
                                  </button>

                                  <label class="quantity-element__label">
                                    <input
                                      class="quantity-element__input"
                                      type="number"
                                      id="Quantity"
                                      name="quantity"
                                      value="1"
                                      min="{{ variant.inventory_quantity_min }}"
                                      max="{{ variant.inventory_quantity }}"
                                      maxlength="2"
                                      data-quantity="input"
                                      readonly
                                      disabled
                                    >
                                  </label>

                                  <button
                                    type="button"
                                    class="quantity-element__button js-quantity-button"
                                    data-quantity="increment"
                                  >
                                    {%- render 'icon-quantity-plus' -%}
                                  </button>
                                </div>
                              </quantity-selector>
                              <input type="hidden" name="id" value="{{ variant.id }}">
                            </div>
                          </template>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="bundle-builder__summary">
          <div class="bundle-builder__summary-header">
            <h3 class="h3">Deine Box:</h3>
            <span class="h3 bundle-builder__price">{{ 0 | money }}</span>
          </div>
          <div
            data-threshold="30"
            data-current="0"
            class="shipping-bar"
            style="--progress: 0"
          >
            <span class="shipping-bar__text text--small shipping-bar__text--remaining">Füge noch <span class="shipping-bar__text-amount">30</span> Produkte zur Box hinzu</span>
            <span class="shipping-bar__text text--small shipping-bar__text--achieved hidden">Jetzt Bundle hinzufügen</span>
            <span
              class="shipping-bar__progress shipping-bar__progress--remaining"
            ></span>
          </div>
          {% form 'product', product %}
            <input type="hidden" name="id" value="{{ bundle_config.parent_product.value.id }}">
            <input type="hidden" name="quantity" value="1">

            <div class="bundle-builder__summary-items">
            </div>
            <button type="submit" class="button" disabled>Wähle Produkte</button>
          {% endform %}
        </div>
      </bundle-builder>
    </div>
  </div>

  <div class="base-triangular-line">
    {%- render 'icon-triangular-line' -%}
  </div>
</section>

{% schema %}
{
  "name": "Bundle Builder",
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#dbaaeb"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent Color",
      "default": "#2ac2bd"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Hover Color",
      "default": "#f3587f"
    }
  ],
  "presets": [
    {
      "name": "Bundle Builder"
    }
  ]
}
{% endschema %}
