<style>
  @media screen and (min-width: 992px) {
    #shopify-section-{{ section.id }} {
      {%- if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != blank -%}
        --section-background-color: {{ section.settings.background_color }};
      {%- endif -%}
      {%- if section.settings.accent_color != 'rgba(0,0,0,0)' and section.settings.accent_color != blank -%}
        --section-accent-color: {{ section.settings.accent_color }};
      {%- endif -%}
    }
  }

  @media screen and (max-width: 991px) {
    #shopify-section-{{ section.id }} {
      {%- if section.settings.background_color_mobile != 'rgba(0,0,0,0)' and section.settings.background_color_mobile!= blank -%}
        --section-background-color: {{ section.settings.background_color_mobile }};
      {%- else -%}
        --section-background-color: {{ section.settings.background_color }};
      {%- endif -%}

      {%- if section.settings.accent_color_mobile != 'rgba(0,0,0,0)' and section.settings.accent_color_mobile != blank -%}
        --section-accent-color: {{ section.settings.accent_color_mobile }};
      {%- else -%}
        --section-accent-color: {{ section.settings.accent_color }};
      {%- endif -%}
    }
  }
</style>

{%- assign sec_sett = section.settings -%}

{% comment %} TODO: Rename this section {% endcomment %}
<section
	class="collection-products"
	data-section-id="{{- section.id -}}"
	data-section-type="collection-products"
>
	<div class="collection-products__container page-width">
    {%- if section.settings.heading_desktop != blank -%}
      <h2 
        class="title-bg home-products__title hidden-phone"
      >
        {{ section.settings.heading_desktop }}
      </h2>
    {%- endif -%}

    {%- if section.settings.heading_mobile != blank -%}
      <h2 
        class="title-bg home-products__title hidden-desktop"
      >
        {{ section.settings.heading_mobile }}
      </h2>
    {%- endif -%}
		{%- if section.blocks.size > 0 -%}
      <div class="swiper-container-wrapper">
        <collection-slider class="swiper" data-slides="{{ section.blocks.size }}">
          <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
              {%- assign block_collection = collections[block.settings.collection] -%}
              {%- assign collection_image = block.settings.image -%}
              {%- assign collection_title = block_collection.title -%}
              {%- assign color = block.settings.color -%}

              {%- if block.settings.collection_title != blank -%}
                {%- assign collection_title = block.settings.collection_title -%}
              {%- endif -%}

              <div class="custom_slider swiper-slide" data-slide-color="{{ color }}">
                <a href="{{- block_collection.url -}}" class="{% if collection == block_collection %}active{% endif %}">
                  {%- if collection_image != blank -%}
                      <picture class="hidden-phone">
                        <source
                          srcset="{{ collection_image.src | img_url: '1364x' }} 1x, {{ collection_image.src | img_url: '2728x' }} 2x"
                          media="(min-width: 1920px)">
                        <source
                          srcset="{{ collection_image.src | img_url: '906x' }} 1x, {{ collection_image.src | img_url: '1812x' }} 2x, {{ collection_image.src | img_url: '2061x' }} 3x"
                          media="(min-width: 1710px)">
                        <source
                          srcset="{{ collection_image.src | img_url: '690x' }} 1x, {{ collection_image.src | img_url: '1380x' }} 2x, {{ collection_image.src | img_url: '2070x' }} 3x"
                          media="(min-width: 1550px)">
                        <source
                          srcset="{{ collection_image.src | img_url: '610x' }} 1x, {{ collection_image.src | img_url: '1220x' }} 2x, {{ collection_image.src | img_url: '1830x' }} 3x"
                          media="(min-width: 1250px)">
                        <source
                          srcset="{{ collection_image.src | img_url: '458x' }} 1x, {{ collection_image.src | img_url: '916x' }} 2x,{{ collection_image.src | img_url: '1374x' }} 3x"
                          media="(min-width: 575px)">
                        <img src="{{ collection_image.src | img_url: '265x' }} 1x"
                              srcset="{{ collection_image.src | img_url: '265x' }} 1x, {{ collection_image.src | img_url: '530x' }} 2x,{{ collection_image.src | img_url: '795x' }} 3x"
                              alt="{{ collection_image.alt }}">
                      </picture>
                  {%- endif -%}
                  <div class="collection-swiper__link">
                    <span>{{- collection_title -}}</span>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </collection-slider>
      </div>
		{%- endif -%}
	</div>
	<div class="base-triangular-line hidden-phone">
		{%- render 'icon-triangular-line' -%}
	</div>
</section>

{% schema %}
{
	"name": "Collection pages",
	"max_blocks": 6,
	"settings": [
    {
      "type": "text",
      "id": "heading_desktop",
      "label": "Heading desktop",
      "default": "<span><span>Produkte</span></span>"
    },
    {
      "type": "text",
      "id": "heading_mobile",
      "label": "Heading mobile",
      "default": "<span><span>Produktübersicht</span></span>"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#dbaaeb"
    },
    {
      "type": "color",
      "id": "background_color_mobile",
      "label": "Background Color Mobile",
      "default": "#2ac2bd"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent Color",
      "default": "#2ac2bd"
    },
    {
      "type": "color",
      "id": "accent_color_mobile",
      "label": "Accent Color Mobile",
      "default": "#f3587f"
    }
	],
	"blocks": [
		{
			"type": "collection_item",
			"name": "Collection",
			"settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
        {
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
        {
					"type": "text",
					"id": "collection_title",
					"label": "Collection Title"
				},
				{
					"type": "select",
					"id": "color",
					"label": "Background color",
					"options": [
						{
							"value": "tertiary",
							"label": "Green"
						},
						{
							"value": "secondary",
							"label": "Blue"
						},
						{
							"value": "primary",
							"label": "Purple"
						},
						{
							"value": "quaternary",
							"label": "Red"
						},
						{
							"value": "senary",
							"label": "Berry"
						},
						{
							"value": "quinary",
							"label": "Teal"
						}
					],
					"default": "tertiary"
				}
			]
		}
	]
}
{% endschema %}
