<section
	class="customer customer--reset-password"
	data-section-id="{{- section.id -}}"
	data-section-type="customer-reset-password"
>
	<div class="content-wrapper">
		<div class="title-wrapper">
			<h1 class="title-wrapper__title title-bg title-bg--tertiary">{{ 'customer.reset_password.title' | t }}</h1>

			<p class="title-wrapper__subtitle">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
		</div>
		<div class="customer__base-container">
			{% form 'reset_customer_password' %}
				{%- if form.errors -%}
					<div class="form-message form-message--error">
						{{ form.errors | default_errors }}
					</div>
				{%- endif -%}

				<label class="label">
					<span class="sr-only">{{ 'customer.reset_password.password' | t }}</span>
					<input
						type="password"
						name="customer[password]"
						placeholder="{{ 'customer.reset_password.password' | t }}"
						id="ResetPassword"
						class="input input--blue {% if form.errors contains 'password' %} input--error{% endif %}"
					>
				</label>

				<label class="label">
					<span class="sr-only">{{ 'customer.reset_password.password_confirm' | t }}</span>
					<input
						type="password"
						name="customer[password_confirmation]"
						placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
						id="PasswordConfirmation"
						class="input input--blue {% if form.errors contains 'password_confirmation' %} input--error{% endif %}"
					>
				</label>

				<button type="submit" class="button button--primary button--space button--fw">
					{{ 'customer.reset_password.submit' | t }}
				</button>
			{% endform %}
		</div>
	</div>

  <div class="base-triangular-line">
    {%- render 'icon-triangular-line' -%}
  </div>
</section>

{% schema %}
{
	"name": "Reset password",
	"class": "jsAccounts",
	"settings": []
}
{% endschema %}
