<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != blank -%}
      --section-background-color: {{ section.settings.background_color }};
    {%- endif -%}
    {%- if section.settings.accent_color != 'rgba(0,0,0,0)' and section.settings.accent_color != blank -%}
      --section-accent-color: {{ section.settings.accent_color }};
    {%- endif -%}
    {%- if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != blank -%}
      --section-hover-color: {{ section.settings.hover_color }};
    {%- endif -%}
  }

  #shopify-section-{{ section.id }} .content-wrapper {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
</style>

<section
	class="custom-section"
	data-section-id="{{- section.id -}}"
	data-section-type="custom-section"
>
  <div class="content-wrapper">
    <div class="container">
      {% content_for 'blocks' %}
    </div>
  </div>

  <div class="base-triangular-line">
    {%- render 'icon-triangular-line' -%}
  </div>
</section>

{% schema %}
{
  "name": "Custom block section",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent Color"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Hover Color"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 80,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Custom block section"
    },
  ]
}
{% endschema %}