<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != blank -%}
      --section-background-color: {{ section.settings.background_color }};
    {%- endif -%}
    {%- if section.settings.accent_color != 'rgba(0,0,0,0)' and section.settings.accent_color != blank -%}
      --section-accent-color: {{ section.settings.accent_color }};
    {%- endif -%}
    {%- if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != blank -%}
      --section-hover-color: {{ section.settings.hover_color }};
    {%- endif -%}
  }
</style>

{%- assign title = section.settings.title -%}
{%- assign subtitle = section.settings.subtitle -%}

<section
	class="faq"
	data-section-id="{{- section.id -}}"
	data-section-type="faq"
>
	<div class="content-wrapper">
    {%- if title or subtitle -%}
      <div class="title-wrapper">
        {%- if title -%}
          <h1 class="title-wrapper__title title-bg">{{ title }}</h1>
        {%- endif -%}

        {%- if subtitle -%}
          <p class="title-wrapper__subtitle">{{ subtitle }}</p>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      <div class="container container--md">
        <div class="accordion">
          {%- for block in section.blocks -%}
            {%- assign title = block.settings.title -%}
            {%- assign content = block.settings.content -%}
            <accordion-item class="accordion__item js-accordion__item">
              <header class="accordion__header js-accordion__header">
                <h2 class="h3 accordion__title">{{ title }}</h2>
                {%- render 'icon-arrow-down' -%}
              </header>
              <div class="accordion__body">
                <div class="accordion__dsc text color-white ">          
                  {{ content }}
                </div>
              </div>
            </accordion-item>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
	</div>
  
  <div class="base-triangular-line">
    {%- render 'icon-triangular-line' -%}
  </div>
</section>

{% schema %}
	{
		"name": "FAQ",
		"settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Title",
				"info": "Need wrap words to see background, <span><span>example</span></span>",
				"default": "Häufig gestellte <span><span>Fragen</span></span>"
			},
			{
				"type": "text",
				"id": "subtitle",
				"label": "Subtitle",
				"default": "Hier haben wir Fragen gesammelt die wir häufig gestellt bekommen."
			},
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#dbaaeb"
      },
      {
        "type": "color",
        "id": "accent_color",
        "label": "Accent Color",
        "default": "#2ac2bd"
      },
      {
        "type": "color",
        "id": "hover_color",
        "label": "Hover Color",
        "default": "#f3587f"
      }
		],
		"blocks": [
			{
				"type": "faq_item",
				"name": "FAQ item",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Question"
					},
					{
						"type": "textarea",
						"id": "content",
						"label": "Answer"
					},
          {
						"type": "checkbox",
						"id": "show_ingredients",
						"label": "Show ingredients"
					},
          {
						"type": "checkbox",
						"id": "show_nutrition",
						"label": "Show Nutrition"
					}
				]
			}
		],
    "presets": [
      {
        "name": "FAQ"
      }
    ]
	}
{% endschema %}
