<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != blank -%}
      --section-background-color: {{ section.settings.background_color }};
    {%- endif -%}
    {%- if section.settings.accent_color != 'rgba(0,0,0,0)' and section.settings.accent_color != blank -%}
      --section-accent-color: {{ section.settings.accent_color }};
    {%- endif -%}
    {%- if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != blank -%}
      --section-hover-color: {{ section.settings.hover_color }};
    {%- endif -%}
  }
</style>

{% comment %} TODO: Cleanup this section {% endcomment %}

<div class="products_listing collection-template triangular-balance" data-section-id="{{ section.id }}">
  <div class="page-width" >
    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2><span>{{ section.settings.title | escape }}</span></h2>
      </div>
    {% endif %}

    {% case section.settings.grid %}
      {% when 2 %}
        {%- assign max_height = 530 -%}
      {% when 3 %}
        {%- assign max_height = 345 -%}
      {% when 4 %}
        {%- assign max_height = 250 -%}
      {% when 5 %}
        {%- assign max_height = 195 -%}
    {% endcase %}

    {%- assign product_limit = section.settings.items_per_page -%}

    <ul class="grid grid--uniform grid--view-items">
      {% for product in section.settings.collection.products limit: product_limit %}
        {%- if product.metafields.custom.hide_product -%}
          {%- continue -%}
        {%- endif -%}
        
        <li class="AAA grid__item grid__item--{{section.id}}">
          {% render 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor, index: forloop.index %}
        </li>
      {% endfor %}
    </ul>

    {% if section.settings.show_view_all %}
      <hr class="hr--invisible" aria-hidden="true" />
      <div class="text-center">
        <a href="{{ collection.url }}" class="btn" aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
          {{ 'collections.general.view_all' | t }}
        </a>
      </div>
    {% endif %}

  </div>
    <div class="base-triangular-line">
    {%- render 'icon-triangular-line' -%}
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured collection"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "items_per_page",
      "label": "Items per page",
      "min": 4,
      "max": 48,
      "step": 4,
      "default": 48
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show view all",
      "default": false
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#2ac2bd"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent Color",
      "default": "#f3587f"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Hover Color",
      "default": "#dbaaeb"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection",
    }
  ]
}
{% endschema %}
