<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != blank -%}
      --section-background-color: {{ section.settings.background_color }};
    {%- endif -%}
    {%- if section.settings.accent_color != 'rgba(0,0,0,0)' and section.settings.accent_color != blank -%}
      --section-accent-color: {{ section.settings.accent_color }};
    {%- endif -%}
    {%- if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != blank -%}
      --section-hover-color: {{ section.settings.hover_color }};
    {%- endif -%}
  }

  @media screen and (max-width: 991px) {
    #shopify-section-{{ section.id }} .product-form__buttons {
      background-color: {{ section.settings.background_color }};
    }
  }
</style>

{%- assign product = section.settings.product -%}
{% assign current_variant = product.selected_or_first_available_variant %}

<div class="product-page"
		 data-section-id="{{ section.id }}"
		 data-section-type="product-page"
>
  <div class="content-wrapper">
    {%- if section.settings.heading != blank -%}
      <div class="title-wrapper title-wrapper--lg">
        <h1 class="title-wrapper__title title-bg hidden-phone">
          {{ section.settings.heading }}
        </h1>
        <h1 class="title-wrapper__title title-bg hidden-desktop">
          {%- if section.settings.mobile_heading != blank -%}
            {{ section.settings.mobile_heading }}
          {%- else -%}
            {{ section.settings.heading }}
          {%- endif -%}
        </h1>
      </div>
    {%- endif -%}

    <div class="container--two-columns container container--lg">
      <div class="product-page__gallery">
        {%- render 'product-gallery', product: product -%}
      </div>

      <div class="product-page__info">
        {%- render 'product-info', product: product, section: section -%}
      </div>
    </div>
  </div>

	<div class="base-triangular-line">
		{%- render 'icon-triangular-line' -%}
	</div>
</div>

{% unless product == empty %}
	<script type="application/json" id="ProductJson-{{ section.id }}">
		{{ product | json }}
	</script>
{% endunless %}

<script type="application/ld+json">
{
	"@context": "http://schema.org/",
	"@type": "Product",
	"name": "{{ product.title | escape }}",
	"url": "{{ shop.url }}{{ product.url }}",
	{%- if product.featured_image -%}
		{%- assign image_size = product.featured_image.width | append: 'x' -%}
		"image": [
			"https:{{ product.featured_image.src | img_url: image_size }}"
		],
	{%- endif -%}
	"description": "{{ product.description | strip_html | escape }}",
	{%- if current_variant.sku != blank -%}
		"sku": "{{ current_variant.sku }}",
	{%- endif -%}
	"brand": {
		"@type": "Thing",
		"name": "{{ product.vendor | escape }}"
	},
	"offers": [
		{%- for variant in product.variants -%}
			{
				"@type" : "Offer",
				{%- if variant.sku != blank -%}
					"sku": "{{ variant.sku }}",
				{%- endif -%}
				"availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
				"price" : "{{ variant.price | divided_by: 100.00 }}",
				"priceCurrency" : "{{ cart.currency.iso_code }}",
				"url" : "{{ shop.url }}{{ variant.url }}"
			}{% unless forloop.last %},{% endunless %}
	{%- endfor -%}
	]
}
</script>


{% schema %}
{
	"name": "Featured Product",
	"settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
    {
			"type": "text",
			"id": "mobile_heading",
			"label": "Mobile Heading"
		},
    {
			"type": "checkbox",
			"id": "show_price",
			"label": "Show Price",
      "default": true
		},
		{
			"type": "text",
			"id": "reviews_average_rating",
			"label": "Average rating reviews",
			"info": "[Metafields] Example - 4.87"
		},
		{
			"type": "text",
			"id": "reviews_quantity_text",
			"label": "Quantity of reviews",
			"info": "[Metafields] Example - 400 reviews"
		},
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent Color"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Hover Color"
    }
	],
  "blocks": [
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": []
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": []
    },
    {
      "type": "buy_button",
      "name": "Buy Button",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity_selector",
          "label": "Show Quantity Selector"
        },
        {
          "type": "checkbox",
          "id": "show_price",
          "label": "Show Price"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "Countdown",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Countdown will be displayed if the product has a countdown date metafield."
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color"
        },
        {
          "type": "color",
          "id": "color_time",
          "label": "Color for time"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        }
      ]
    },
  ],
	"presets": [
		{
			"name": "Featured Product",
		}
	]
}
{% endschema %}
