{% assign sec_sett = section.settings %}

{% capture copyright %}
	<div class="copyright h3">
		{%- if sec_sett.copyright_text -%}
			{{ sec_sett.copyright_text }}
		{%- else -%}
			{{ 'layout.footer.copyright' | t }} {{ 'now' | date: "%Y" }}, {{ shop.name }}. {{ 'layout.footer.all_rights_served' | t }}
		{%- endif -%}
	</div>
{% endcapture %}

<footer class="footer" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="site-footer">
	<div class="footer__wrap triangular-balance">
		<div class="container footer__list-menu">
			<div class="row">
				{% if section.blocks.size > 0 %}
					{%- for block in section.blocks -%}
						<ul class="footer-menu">
							{%- for link in linklists[block.settings.menu].links -%}
								<li class="footer-menu__item">
									<a class="footer-menu__link h3"
										 href="{{ link.url }}"
									>{{- link.title | escape -}}</a>
								</li>
							{%- endfor -%}
						</ul>
					{%- endfor -%}
				{% endif %}
			</div>
      {% if section.settings.klaviyo_id != blank %}
        <div id="klaviyo-form-{{ section.settings.klaviyo_id }}"></div>
      {% endif %}
		</div>
		<div class="container">
			<a class="footer__logo">
				{%- include 'icon-logo-big' -%}
			</a> 

          {{- copyright -}} 
		</div>
	</div>
</footer>

{% schema %}
{
	"name": "Site Footer",
	"settings": [
		{
			"type": "textarea",
			"id": "copyright_text",
			"label": "Copyright text",
			"default": "© 2022, snacks with benefits GmbH. Alle Rechte vorbehalten."
		},
    {
      "type": "text",
      "id": "klaviyo_id",
      "label": "Klaviyo ID",
      "info": "Put the ID of the signup form in this field. For Example 'ABCDEF'. NOT the whole Div, only the ID"
    }
	],
	"blocks": [
		{
			"type": "footer_menu",
			"name": "Footer menu",
			"settings": [
				{
					"type": "link_list",
					"id": "menu",
					"label": "Menu"
				}
			]
		}
	]
}
{% endschema %}
