<style>
  #shopify-section-{{ section.id }} {
    --mini-cart-background: {{ section.settings.background_color }};
    --section-accent-color: {{ section.settings.accent_color }};
    --section-hover-color: {{ section.settings.hover_color }};
    --upsell-background: {{ section.settings.upsell_collection_background_desktop }};
  }

  #shopify-section-{{ section.id }} .cart-upsell__button {
    --section-accent-color: {{ section.settings.hover_color }};
    --section-hover-color: {{ section.settings.accent_color }};
  }
</style>

{%- assign is_empty_cart = false -%}

{%- if cart.item_count == 0 -%}
  {%- assign is_empty_cart = true -%}
{%- endif -%}

{% if section.settings.show_upsell -%}
  {%- assign has_upsell_items_left = false -%}
  {%- assign upsell_products = collections[section.settings.upsell_collection].products -%}

  {%- for upsell_product in upsell_products -%}
    {%- assign found_in_cart = false -%}
    {%- for item in cart.items -%}
      {%- if upsell_product.id == item.product_id -%}
        {%- assign found_in_cart = true -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
    {%- unless found_in_cart -%}
      {%- assign has_upsell_items_left = true -%}
      {%- break -%}
    {%- endunless -%}
  {%- endfor -%}
{%- endif -%}

<section
  id="minicart-{{- section.id -}}"
  data-section-id="{{- section.id -}}"
  data-section-type="minicart"
>
  <mini-cart
    class="minicart"
    data-section-id="{{- section.id -}}"
    data-section-type="{{- section.type -}}"
  >
    <div class="minicart__overlay"></div>

    <div
      class="minicart__container"
      style=""
    >
      <div class="minicart__wrapper">
        <div class="minicart__section minicart__section--header">
          <div class="minicart__header">
            <div class="minicart__heading">
              <h3 class="minicart__title title-bg">
                <span>{{ 'cart.general.title' | t }}</span>
              </h3>
              <button class="minicart__close"></button>
            </div>
            {%- if settings.cart_show_free_shipping_threshold and settings.cart_free_shipping_threshold != '' -%}
              {%- assign free_shipping_thresholds = settings.cart_free_shipping_threshold | remove: ' ' | split: ',' -%}
              {%- assign free_shipping_money = settings.cart_free_shipping_threshold | times: 100 | money -%}
              {%- assign has_found_matching_threshold = false -%}

              {%- if free_shipping_thresholds.size > 1 -%}
                {%- for threshold in free_shipping_thresholds -%}
                  {%- assign threshold_parts = threshold | split: ':' -%}
                  {%- assign currency_code = threshold_parts | first | upcase -%}

                  {%- if currency_code == cart.currency.iso_code -%}
                    {%- assign free_shipping_calculated_threshold = threshold_parts | last -%}
                    {%- assign has_found_matching_threshold = true -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- else -%}
                {%- assign free_shipping_calculated_threshold = free_shipping_thresholds | last -%}
                {%- assign has_found_matching_threshold = true -%}
              {%- endif -%}

              {%- if has_found_matching_threshold -%}
                {%- assign threshold_in_cents = free_shipping_calculated_threshold | times: 100.0 -%}

                {%- assign calculated_total_price = 0 -%}

                {%- for line_item in cart.items -%}
                  {%- if line_item.requires_shipping -%}
                    {%- assign calculated_total_price = calculated_total_price | plus: line_item.final_line_price -%}
                  {%- endif -%}
                {%- endfor -%}

                <free-shipping-bar
                  threshold="{{ threshold_in_cents }}"
                  class="shipping-bar"
                  style="--progress: {{ calculated_total_price | times: 1.0 | divided_by: threshold_in_cents | at_most: 1 }}"
                >
                  {%- if calculated_total_price >= threshold_in_cents -%}
                    <span class="shipping-bar__text text--small">{{ 'cart.general.free_shipping_html' | t }}</span>
                  {%- else -%}
                    {%- capture remaining_amount -%}{{ calculated_total_price | minus: threshold_in_cents | abs | money }}{%- endcapture -%}
                    <span class="shipping-bar__text text--small">
                      {{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}
                    </span>
                  {%- endif -%}

                  <span
                    class="shipping-bar__progress{% if calculated_total_price >= threshold_in_cents %} shipping-bar__progress--achieved{% else %} shipping-bar__progress--remaining{% endif %}"
                  ></span>
                  <span class="shipping-bar__information">
                    {{- 'cart.general.free_shipping_amount' | t: free_shipping_amount: free_shipping_money -}}
                  </span>
                </free-shipping-bar>

                <div class="divider"></div>
              {%- endif -%}
            {%- endif -%}

            {% assign goodies_are_active = false %}
            {% assign goodies_recently_ended = false %}
            {% assign start_date_iso = settings.start_date | date: '%Y-%m-%dT%H:%M:%S%z' %}
            {% assign end_date_iso = settings.end_date | date: '%Y-%m-%dT%H:%M:%S%z' %}
            {% assign current_date_iso = 'now' | date: '%Y-%m-%dT%H:%M:%S%z' %}

            {%- comment -%}
              Calculate one week after the end date in seconds.
              1 week = 7 days = 7 * 24 * 60 * 60 = 604800 seconds
            {%- endcomment -%}
            {% assign end_date_epoch = settings.end_date | date: '%s' | plus: 0 %}
            {% assign current_date_epoch = 'now' | date: '%s' | plus: 0 %}
            {% assign week_after_end_epoch = end_date_epoch | plus: 604800 %}

            {% if start_date_iso <= current_date_iso and current_date_iso <= end_date_iso %}
              {% assign goodies_are_active = true %}
            {% endif %}

            {% if current_date_epoch > end_date_epoch and current_date_epoch <= week_after_end_epoch %}
              {% assign goodies_recently_ended = true %}
            {% endif %}

            {% if start_date_iso <= current_date_iso and current_date_iso <= end_date_iso %}
              {% assign goodies_are_active = true %}
            {% endif %}

            {% if settings.goodies != blank and goodies_are_active %}
              {%- capture goodie_data -%}
                [
                  {%- for goodie in settings.goodies -%}
                    {
                      "id": {{- goodie.goodie_variant.value.id -}},
                      "threshold": {{- goodie.threshold.value -}}
                    }{%- unless forloop.last -%},{%- endunless -%}
                  {%- endfor -%}               
                ]
              {%- endcapture -%}

              <cart-goodies data-goodie-data='{{- goodie_data -}}'>
                {% render 'goodie-add' %}
                {% assign highest_treshold = 0 %}

                {% for goodie in settings.goodies %}
                  {% if highest_treshold < goodie.threshold.value %}
                    {% assign highest_treshold = goodie.threshold.value %}
                  {% endif %}
                {% endfor %}

                <free-shipping-bar
                  threshold="{{ highest_treshold }}"
                  class="shipping-bar"
                  style="--progress: {{ calculated_total_price | times: 1.0 | divided_by: highest_treshold | at_most: 1 }}"
                >
                  {%- if calculated_total_price >= highest_treshold -%}
                    <span class="shipping-bar__text text--small">{{ 'cart.goodie.goodie_html' | t }}</span>
                  {%- else -%}
                    {%- capture remaining_amount -%}{{ calculated_total_price | minus: highest_treshold | abs | money }}{%- endcapture -%}
                    <span class="shipping-bar__text text--small">
                      {{- 'cart.goodie.goodie_remaining_html' | t: remaining_amount: remaining_amount -}}
                    </span>
                  {%- endif -%}

                  <span
                    class="shipping-bar__progress{% if calculated_total_price >= highest_treshold %} shipping-bar__progress--achieved{% else %} shipping-bar__progress--remaining{% endif %}"
                  ></span>
                  {% assign money_threshold = highest_treshold | money %}
                  <span class="shipping-bar__information">
                    {{- 'cart.goodie.goodie_amount' | t: threshold: money_threshold -}}
                  </span>
                </free-shipping-bar>

                <div class="divider"></div>
              </cart-goodies>
            {% endif %}

            

            {% if goodies_recently_ended %}
              {% render 'goodie-cleanup' %}
            {% endif %}
          </div>

          <div class="base-triangular-line">
            {%- render 'icon-triangular-line' -%}
          </div>
        </div>

        <div
          class="minicart__body {% if is_empty_cart %}minicart__body--empty{% endif %}"
        >
          <div
            class="minicart__section minicart__section--items js-minicart-items"
          >
            <span class="minicart__item-count title-bg--sm"
              ><b>{{ 'cart.general.mini_cart_item' | t: item_count: cart.item_count }}</b></span
            >
            {%- if is_empty_cart -%}
              <div class="minicart__empty-cart-notice">
                <span>{{ 'cart.general.mini_cart_empty_subtitle' | t }}</span>
              </div>
            {%- else -%}
              <form id="mini-cart-form" action="{{ routes.cart_url }}" novalidate method="post">
                <input type="hidden" name="checkout">
                {%- for item in cart.items -%}
                  {% unless item.parent_relationship.parent %}
                    {% render 'cart-item', key: item.key, item: item, is_mini_cart: true %}
                  {% endunless %}
                {%- endfor -%}
              </form>
            {%- endif -%}

            {%- if has_upsell_items_left -%}
              {% render 'cart-upsell', cart: cart, is_mini_cart: true, settings: section.settings, mobile: true -%}
            {%- endif -%}
          </div>
        </div>
        <div class="minicart__section minicart__section--footer">
          <div class="top-triangular-line">
            {%- render 'icon-triangular-line' -%}
          </div>
          {% render 'cart-subtotal', cart: cart, is_mini_cart: true, is_empty_cart: is_empty_cart -%}
        </div>
      </div>
      {%- if has_upsell_items_left -%}
        {% render 'cart-upsell', cart: cart, is_mini_cart: true, settings: section.settings, mobile: false -%}
      {%- endif -%}
    </div>
  </mini-cart>
</section>

{%- schema -%}
{
  "name": "Minicart",
  "settings": [
    {
      "type": "text",
      "id": "empty_button_text",
      "label": "Button text",
      "default": "SHOP ALL",
      "info": "Shown when minimap is empty"
    },
    {
      "type": "url",
      "id": "empty_button_url",
      "label": "Button url"
    },
    {
      "type": "header",
      "content": "Upsell"
    },
    {
      "type": "checkbox",
      "id": "show_upsell",
      "label": "Show Upsell",
      "default": true
    },
    {
      "type": "text",
      "id": "upsell_heading",
      "label": "Upsell Heading",
      "default": "Die perfekte Ergänzung"
    },
    {
      "type": "collection",
      "id": "upsell_collection",
      "label": "Upsell Collection"
    },
    {
      "type": "color",
      "id": "upsell_collection_background_desktop",
      "label": "Background Color Desktop",
      "default": "#9977a5"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#dbaaeb"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent Color",
      "default": "#2AC2BD"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Hover Color",
      "default": "#F3587F"
    }
  ]
}
{%- endschema -%}
