<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != blank -%}
      --section-background-color: {{ section.settings.background_color }};
    {%- endif -%}
    {%- if section.settings.accent_color != 'rgba(0,0,0,0)' and section.settings.accent_color != blank -%}
      --section-accent-color: {{ section.settings.accent_color }};
    {%- endif -%}
    {%- if section.settings.hover_color != 'rgba(0,0,0,0)' and section.settings.hover_color != blank -%}
      --section-hover-color: {{ section.settings.hover_color }};
    {%- endif -%}
  }
</style>

<section
	class="page"
	data-section-id="{{- section.id -}}"
	data-section-type="page"
>
	<div class="content-wrapper">
    <div class="container">
      <div class="title-wrapper">
        {%- if section.settings.title or section.settings.subtitle -%}
          {%- if section.settings.title -%}
            <h1 class="title-wrapper__title title-bg">{{ section.settings.title }}</h1>
          {%- endif -%}
  
          {%- if section.settings.subtitle -%}
            <div class="title-wrapper__subtitle rte">{{ section.settings.subtitle }}</div>
          {%- endif -%}
        {%- else -%}
          <h1 class="title-bg">{{ page.title }}</h1>
        {%- endif -%}
      </div>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
	"name": "Page",
	"settings": [
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent Color"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Hover Color"
    }
	],
	"presets": [
		{
			"name": "Page"
		}
	]
}
{% endschema %}
