<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background_color != 'rgba(0,0,0,0)' and section.settings.background_color != blank -%}
      --section-background-color: {{ section.settings.background_color }};
    {%- endif -%}
    {%- if section.settings.accent_color != 'rgba(0,0,0,0)' and section.settings.accent_color != blank -%}
      --section-accent-color: {{ section.settings.accent_color }};
    {%- endif -%}
  }
</style>

{% comment %} TODO: Cleanup Section {% endcomment %}

{% assign product = section.settings.product | default: product %}

{%- assign ingredient_highlights = product.metafields.custom.ingredient_highlights.value -%}

{%- assign has_bundle_items = false -%}
{%- assign bundle_item_count = 0 -%}

{%- if product.metafields.custom.bundle_products.value != blank -%}
  {%- assign has_bundle_items = true -%}

  {%- for bundle_product in product.metafields.custom.bundle_products.value -%}
    {%- assign bundle_item_count = bundle_item_count | plus: 1 -%}
  {%- endfor -%}
{%- endif -%}

{%- capture slider -%}
  {%- if ingredient_highlights != blank -%}
    <div class="ingredients__gallery">
      <div class="swiper" data-ingredients-slider>
        <div class="swiper-wrapper">
          {%- for ingredient_highlight in ingredient_highlights -%}

            {%- if ingredient_highlight.ingredient_image != blank or ingredient_highlight.ingredient_circle != blank -%}
              <div class="swiper-slide ingredients__slide">
                <div class="ingredients-item">
                  <div class="ingredients-item__image-wrapper">
                    {%- if ingredient_highlight.ingredient_image != blank -%}
                      {{ ingredient_highlight.ingredient_image | image_url: width: 240 | image_tag: class: 'ingredients-item__img' }}
                    {%- endif -%}
                  </div>

                  <div class="ingredients-item__icon-wrapper icon">
                    {%- if ingredient_highlight.ingredient_circle != blank -%}
                      {{ ingredient_highlight.ingredient_circle | image_url: width: 800 | image_tag }}
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endcapture -%}

<section
  class="ingredients"
  data-section-id="{{- section.id -}}"
  data-section-type="ingredients"
>
  <div class="container ingredients__container">
    {{ slider }}

    <div class="container container--md">
      <div class="accordion">
        <accordion-item class="accordion__item js-accordion__item">
          <header class="accordion__header js-accordion__header">
            <h2 class="h3 accordion__title">{{ 'products.product.ingredients' | t }}</h2>
            {%- render 'icon-arrow-down' -%}
          </header>
          <div
            class="accordion__body"
            {% if has_bundle_items %}
              style="--accordion-body-max-height:{{ bundle_item_count | times: 1000 }}px"
            {% endif %}
          >
            <div class="accordion__dsc text color-white">
              {%- if product.metafields.custom.bundle_products.value != blank -%}
                {%- for bundle_product in product.metafields.custom.bundle_products.value -%}
                  <h3>
                    {%- if bundle_product.metafields.custom.short_title != blank
                      and bundle_product.metafields.custom.unit_name_new != blank
                    -%}
                      {{ bundle_product.metafields.custom.short_title }}
                      {{ bundle_product.metafields.custom.unit_name_new }}
                    {%- else -%}
                      {{ bundle_product.title }}
                    {%- endif -%}
                  </h3>
                  {{ bundle_product.metafields.custom.ingredients }}
                  <br>
                  <br>
                {%- endfor -%}
              {%- else -%}
                {{ product.metafields.custom.ingredients }}
              {%- endif -%}
            </div>
          </div>
        </accordion-item>
        <accordion-item class="accordion__item js-accordion__item">
          <header class="accordion__header js-accordion__header">
            <h2 class="h3 accordion__title">{{ 'products.product.nutrition_table' | t }}</h2>
            {%- render 'icon-arrow-down' -%}
          </header>
          <div
            class="accordion__body"
            {% if has_bundle_items %}
              style="--accordion-body-max-height:{{ bundle_item_count | times: 1000 }}px"
            {% endif %}
          >
            <div class="accordion__dsc text color-white">
              {%- if product.metafields.custom.bundle_products.value != blank -%}
                {%- for bundle_product in product.metafields.custom.bundle_products.value -%}
                  {%- assign nutrition_values = bundle_product.metafields.custom.nutrition_values.value -%}
                  {%- unless forloop.first -%}
                    <br>
                    <br>
                  {%- endunless -%}
                  <h3>{{ nutrition_values.produktname }}</h3>
                  <table>
                    <tr>
                      <td></td>
                      <td>{{ 'products.product.nutrition_grams' | t }}</td>
                      <td>{{ 'products.product.nutrition_portion_html' | t }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'products.product.energy' | t }}</td>
                      <td>{{ nutrition_values.energie_100_gr }}</td>
                      <td>{{ nutrition_values.energie_portion }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'products.product.fat' | t }}</td>
                      <td>{{ nutrition_values.fett_100_gr }}</td>
                      <td>{{ nutrition_values.fett_portion }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'products.product.sat_fat' | t }}</td>
                      <td>{{ nutrition_values.gesattigte_fettsauren_100_gr }}</td>
                      <td>{{ nutrition_values.gesattigte_fettsauren_portion }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'products.product.carbs' | t }}</td>
                      <td>{{ nutrition_values.kohlenhydrate_100_gr }}</td>
                      <td>{{ nutrition_values.kohlenhydrate_portion }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'products.product.sugar' | t }}</td>
                      <td>{{ nutrition_values.zucker_100_gr }}</td>
                      <td>{{ nutrition_values.zucker_portion }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'products.product.fibre' | t }}</td>
                      <td>{{ nutrition_values.ballaststoffe_100_gr }}</td>
                      <td>{{ nutrition_values.ballaststoffe_portion }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'products.product.protein' | t }}</td>
                      <td>{{ nutrition_values.eiweiss_100_gr }}</td>
                      <td>{{ nutrition_values.eiweiss_portion }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'products.product.salt' | t }}</td>
                      <td>{{ nutrition_values.salz_100_gr }}</td>
                      <td>{{ nutrition_values.salz_portion }}</td>
                    </tr>
                  </table>
                {%- endfor -%}
              {%- else -%}
                {%- assign nutrition_values = product.metafields.custom.nutrition_values.value -%}

                <table>
                  <tr>
                    <td></td>
                    <td>{{ 'products.product.nutrition_grams' | t }}</td>
                    <td>{{ 'products.product.nutrition_portion_html' | t }}</td>
                  </tr>
                  <tr>
                    <td>{{ 'products.product.energy' | t }}</td>
                    <td>{{ nutrition_values.energie_100_gr }}</td>
                    <td>{{ nutrition_values.energie_portion }}</td>
                  </tr>
                  <tr>
                    <td>{{ 'products.product.fat' | t }}</td>
                    <td>{{ nutrition_values.fett_100_gr }}</td>
                    <td>{{ nutrition_values.fett_portion }}</td>
                  </tr>
                  <tr>
                    <td>{{ 'products.product.sat_fat' | t }}</td>
                    <td>{{ nutrition_values.gesattigte_fettsauren_100_gr }}</td>
                    <td>{{ nutrition_values.gesattigte_fettsauren_portion }}</td>
                  </tr>
                  <tr>
                    <td>{{ 'products.product.carbs' | t }}</td>
                    <td>{{ nutrition_values.kohlenhydrate_100_gr }}</td>
                    <td>{{ nutrition_values.kohlenhydrate_portion }}</td>
                  </tr>
                  <tr>
                    <td>{{ 'products.product.sugar' | t }}</td>
                    <td>{{ nutrition_values.zucker_100_gr }}</td>
                    <td>{{ nutrition_values.zucker_portion }}</td>
                  </tr>
                  <tr>
                    <td>{{ 'products.product.fibre' | t }}</td>
                    <td>{{ nutrition_values.ballaststoffe_100_gr }}</td>
                    <td>{{ nutrition_values.ballaststoffe_portion }}</td>
                  </tr>
                  <tr>
                    <td>{{ 'products.product.protein' | t }}</td>
                    <td>{{ nutrition_values.eiweiss_100_gr }}</td>
                    <td>{{ nutrition_values.eiweiss_portion }}</td>
                  </tr>
                  <tr>
                    <td>{{ 'products.product.salt' | t }}</td>
                    <td>{{ nutrition_values.salz_100_gr }}</td>
                    <td>{{ nutrition_values.salz_portion }}</td>
                  </tr>
                </table>
              {%- endif -%}
            </div>
          </div>
        </accordion-item>
      </div>
    </div>
  </div>

  <div class="base-triangular-line">
    {%- render 'icon-triangular-line' -%}
  </div>
</section>

{% schema %}
{
  "name": "Product ingredients",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product",
      "info": "You can choose a specific product here. If not, then the product of the current template is used."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "info": "Need wrap words to see background, <span><span>example</span></span>",
      "default": "Wir verwenden nur <span><span>beste Zutaten</span></span>"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#dbaaeb"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent Color",
      "default": "#2ac2bd"
    }
  ],
  "presets": [
    {
      "name": "Ingredients"
    }
  ]
}
{% endschema %}
