{%- assign title = section.settings.title -%}
{%- assign subtitle = section.settings.subtitle -%}

<section
	class="faq"
	data-section-id="{{- section.id -}}"
	data-section-type="faq"
>
	<div class="content-wrapper">
		<div class="contact__container">
			{%- if title or subtitle -%}
				<div class="title-wrapper">
					{%- if title -%}
						<h1 class="title-wrapper__title title-bg title-bg--tertiary">{{ title }}</h1>
					{%- endif -%}

					{%- if subtitle -%}
						<p class="title-wrapper__subtitle">{{ subtitle }}</p>
					{%- endif -%}
				</div>
			{%- endif -%}

			{%- if section.blocks.size > 0 -%}
				<div class="container container--sm">
					<div class="accordion">
						{%- for block in section.blocks -%}
							{%- assign title = block.settings.title -%}
							{%- assign content = block.settings.content -%}
							<section class="accordion__item js-accordion__item">
								<header class="accordion__header js-accordion__header">
									<h2 class="h3 accordion__title">{{ title }}</h2>
									{%- render 'icon-arrow-down' -%}
								</header>
								<div class="accordion__body">
									<div class="accordion__dsc text color-white ">{{ content }}</div>
								</div>
							</section>
						{%- endfor -%}
					</div>
				</div>
			{%- endif -%}
		</div>
	</div>
  
  <div class="base-triangular-line">
    {%- render 'icon-triangular-line' -%}
  </div>
</section>

{% schema %}
	{
		"name": "Contact",
		"settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Title",
				"info": "Need wrap words to see background, <span><span>example</span></span>",
				"default": "Häufig gestellte <span><span>Fragen</span></span>"
			},
			{
				"type": "text",
				"id": "subtitle",
				"label": "Subtitle",
				"default": "Hier haben wir Fragen gesammelt die wir häufig gestellt bekommen."
			}
		],
		"blocks": [
			{
				"type": "faq_item",
				"name": "FAQ item",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Question"
					},
					{
						"type": "textarea",
						"id": "content",
						"label": "Answer"
					}
				]
			}
		]
	}
{% endschema %}
