<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="{{- settings.color_button -}}">
		<link rel="canonical" href="{{- canonical_url -}}">

		{% if settings.favicon != blank %}
			<link rel="shortcut icon" href="{{- settings.favicon | img_url: '32x32' -}}" type="image/png">
		{% endif %}

		<title>
			{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
		</title>

		{%- if page_description -%}
			<meta name="description" content="{{- page_description | escape -}}">
		{%- endif -%}

		{%- render 'social-meta-tags' -%}
		{%- render 'head-theme-meta' with layout: 'password' -%}

		<link rel="stylesheet" href="{{- 'main.build.min.static.css' | asset_url -}}">

		{{ content_for_header }}
	</head>
	{%- assign formId = 'login_form' -%}
	{%- assign modalId = 'LoginModal' -%}
	{%- assign form_with_errors = '' -%}

	{%- form 'storefront_password', id: formId -%}
		{%- if form.errors -%}
			{%- assign form_with_errors = 'true' -%}
		{%- endif -%}
	{%- endform -%}

	<body class="template-password" data-password-errors="{{ form_with_errors }}">

		<div class="password-page">
			<header class="password-header" role="banner">
				<div class="password-header__inner">
					<div class="password-login">
						<button type="button" class="button-link" data-modal="#{{ modalId }}" aria-haspopup="dialog">
							{{ 'general.password_page.password_link' | t }} <span aria-hidden="true">&rarr;</span>
						</button>
					</div>
				</div>
			</header>

			<div class="password-main" role="main">
				<div class="password-main__inner">
					{{ content_for_layout }}
				</div>
			</div>
		</div>

		<template id="{{ modalId }}" class="modal--password">
			<h2 class="h3 fw-500 color-white" id="password-modal-heading">
				{{- 'general.password_page.login_form_heading' | t -}}
			</h2>
			{%- assign formId = 'login_form' -%}
			{%- form 'storefront_password', id: formId -%}

				{%- if form_with_errors == 'true' -%}
					{{- form.errors | default_errors -}}
				{%- endif -%}

				<label class="label">
					<span class="sr-only">{{- 'general.password_page.login_form_password_label' | t -}}</span>
					<input type="password"
								 name="password"
								 placeholder="{{- 'general.password_page.login_form_password_label' | t -}}*"
								 id="Password"
								 class="input input--blue {% if form_with_errors == 'true' %}input--error{%- endif -%}"
								 required
								 value="{% if form['name'] %}{{ form['name'] }}{% elsif customer %}{{ customer.name }}{% endif %}">
				</label>
				<br><br>
				<button type="submit" name="commit" class="button button--fw" data-button-color="secondary">
					{{- 'general.password_page.login_form_submit' | t -}}
				</button>

			{%- endform -%}
			<p class="text color-white">
				{{- 'general.password_page.admin_link_html' | t -}}
			</p>
		</template>

		<script src="{{- 'main.build.min.static.js' | asset_url -}}" defer></script>
		<script src="{{- 'password.build.min.static.js' | asset_url -}}" defer></script>
	</body>
</html>
